---
import type { ImageMetadata } from "astro";
import { getImage } from "astro:assets";
import ProjectExtLinks from "./ProjectExtLinks.astro";

interface Props {
  title: string;
  extLinks?: Array<{
    title?: string;
    url: string;
  }>;
  background?: ImageMetadata;
  github?: string;
}

const { title, background, github, extLinks } = Astro.props;

const backgroundImage = background
  ? `url(${
      (await getImage({ src: background, width: 400, fit: "inside" })).src
    })`
  : "none";
---

<div class="container" style={{ backgroundImage }}>
  <h3>{title}</h3>
  <div class="group">
    <slot />
    {
      github && (
        <p>
          <ul class="badges">
            <li>
              <a
                href={`https://github.com/${github}/stargazers`}
                target="_blank"
                rel="noopener"
              >
                <img
                  alt="GitHub Repo stars"
                  src={`https://img.shields.io/github/stars/${github}?style=social`}
                />
              </a>
            </li>
            <li>
              <a
                href={`https://github.com/${github}/graphs/contributors`}
                target="_blank"
                rel="noopener"
              >
                <img
                  alt="GitHub contributors"
                  src={`https://img.shields.io/github/contributors/${github}?style=social`}
                />
              </a>
            </li>
          </ul>
        </p>
      )
    }
    {
      extLinks && (
        <p>
          <ProjectExtLinks extLinks={extLinks} />
        </p>
      )
    }
  </div>
</div>

<style lang="scss">
  .container {
    background-repeat: no-repeat;
  }

  .badges,
  .ext-links {
    list-style-type: none;
    padding: 0;
  }

  .badges {
    display: flex;
    gap: 16px;
  }
</style>
