---
import DeFlag from "../components/flags/DeFlag.astro";
import UsGbFlag from "../components/flags/UsGbFlag.astro";
import BaseLayout from "./BaseLayout.astro"

export interface Props {
    frontmatter: { title: string }
    url: string
}

const { frontmatter: { title }, url } = Astro.props;
const dePrefix = '/de'
const isLangDe = url.startsWith(`${dePrefix}/`)
const lang = isLangDe ? 'de' : 'en'

const alternateLangUrl = isLangDe ? url.slice(dePrefix.length) : `${dePrefix}${url}`

---

<BaseLayout title={`${title} – Jan Gosmann`} lang={lang}>
    <nav>
    <ul>
        <li><a href="/" lang="en"><i class="fa-solid fa-house"></i>&nbsp;Main page</a></li>
        <li><a href={alternateLangUrl} lang={isLangDe ? 'en' : 'de'}>
            {isLangDe ? (<><UsGbFlag />
            English version</>) : (<><DeFlag /> Deutsche Version</>)
        </a></li>
    </ul>
    </nav>
    <main>
        <slot />
    </main>
    <nav><a href="/" lang="en"><i class="fa-solid fa-house"></i>&nbsp;Main page</a></nav>
</BaseLayout>

<style lang="scss">
    :global(body) {
        margin: auto;
        padding: 32px;
        max-width: 600px;
    }
    
    nav>ul {
        list-style-type: none;
        display: flex;
        gap: 32px;
        padding: 0;
    }
</style>